<a href="https://colab.research.google.com/github/HYLee810/projectmanager/blob/main/1_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EA%B8%B0%EC%B4%88_02_%EC%9E%90%EB%A3%8C%ED%98%95%EA%B3%BC%EB%8D%B0%EC%9D%B4%ED%84%B0%ED%91%9C%ED%98%84_%EB%B0%B0%ED%8F%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 기초 다지기

## 2 - 파이썬 자료형과 데이터 표현
파이썬의 다양한 데이터 타입과 다양한 연산자, 문자열

----------------------------------

## 2-1.파이썬 자료형(Data Type)

### 수학 연산하기

In [ ]:
print(20+10)
print(20-10)

30
10

### [실습문제]
- 문제1: 10 + 3 x 4 결과 출력
- 문제2: 아이폰 15대를 가지고 있다. 아이폰의 가격이 130만원 일 때 총 금액은?
- 문제3: 주어진 자연수가 홀수인지 짝수인지 판별하는 방법은?
- 문제4: 2x2x2x5x5x5x5x3x3x3x3을 제곱형태로 나타낸 후 그 결과 출력하기

In [ ]:

print(10+3*4)
a=15 #아이폰 수량
b=130 #아이폰 가격
print(a*b)

22
1950

In [ ]:
a=int(input('짝/홀 판별: '))
if a%2 == 0:
   print('짝')
else :
   print('홀')

짝/홀 판별: 4
짝

In [ ]:
print((2**3)*(5**4)*(3**4))

405000

In [ ]:
# 문제1: 10 + 3 x 4 결과 출력
print('10 + 3 x 4 =', 10 + 3 * 4)

# 문제2: 아이폰 15대를 가지고 있다. 아이폰의 가격이 130만원 일 때 총 금액은?
iphone = 15
price = 1300000
print('%d x %d= %d' % (iphone, price, iphone * price))
print(f'{iphone:>10}*{price}={iphone*price}')

# 문제3: 주어진 자연수가 홀수인지 짝수인지 판별하는 방법은?
import random
number = random.randint(1, 100)  # 1~100까지의 임의의 정수
if number%2==0 :   # number를 2로 나눠서 나머지가 0인 것: 짝수
    print(number, '짝수')
else:
    print(number, '홀수')

# 문제4: 2x2x2x5x5x5x5x3x3x3x3을 제곱형태로 나타낸 후 그 결과 출력하기
print('2x2x2x5x5x5x5x3x3x3x3=', 2*2*2*5*5*5*5*3*3*3*3)
print('2x2x2x5x5x5x5x3x3x3x3=', 2**3 * 5**4 * 3**4)

10 + 3 x 4 = 22
15 x 1300000= 19500000
        15*1300000=19500000
21 홀수
2x2x2x5x5x5x5x3x3x3x3= 405000
2x2x2x5x5x5x5x3x3x3x3= 405000

### 변수
데이터를 저장할 수 있는 공간

**변수 사용 시 주의사항**
- 첫 글자는 영문, 혹은 _(언더바)로 시작할 것 (한글도 가능)
- 영문자, 숫자, _(언더바)만으로 구성할 것 (공백문자 불가)
- 대문자, 소문자 구분해서 사용할 것
- 예약어는 피할 것

### 파이썬 자료형

In [ ]:
d1 = 123
d2 = '123'
d3 = [123]
d4 = (123,)
d5 = {'key':123}
d6 = {123}
d7 = True

print(f'데이터 {d1}의 자료형: {type(d1)}')
print(f'데이터 {d2}의 자료형: {type(d2)}')
print(f'데이터 {d3}의 자료형: {type(d3)}')
print(f'데이터 {d4}의 자료형: {type(d4)}')
print(f'데이터 {d5}의 자료형: {type(d5)}')
print(f'데이터 {d6}의 자료형: {type(d6)}')
print(f'데이터 {d7}의 자료형: {type(d7)}')

### 표준 입력과 출력
- 키보드로부터 입력을 받는 함수( input() )을 표준 입력함수라 한다.
- 화면에 출력하는 함수( print() )를 표준 출력함수라 한다.

In [ ]:
# 표준 입력(키보드로부터 데이터를 입력 받는 것)
# a=flot(a) 실수로 지정
a=int(input('숫자를 입력하세요: '))

# 표준 출력

print(f'변수 a의 값:{a}, {type(a)}')

숫자를 입력하세요: 4
변수 a의 값:4, <class 'int'>

#### 문자열 데이터를 숫자(정수)로 변환하기

In [ ]:
# 문자열 데이터를 숫자(정수)로 변환하기

#### 다양한 변수 출력 방법

In [ ]:
a = input('키보드로 숫자를 입력해 주세요 ')

print()

### [실습문제] : 계산기 프로그램 만들기
정수 2개를 키보드로 각각 입력 받아 아래와 같이 덧셈, 뺄셈, 곱셈, 몫, 나머지를


출력하는 프로그램을 만들어 보세요.

In [ ]:

a=int(input('첫번째 숫자:'))
b=int(input('두번째 숫자:'))
print('-'*50) # *는 문자여 반복
print('덧셈:%d+%d=%d'%(a,b,a+b))
print('뺄셈:%d+%d=%d'%(a,b,a-b))
print('곱셈:%d+%d=%d'%(a,b,a*b))
print('나눗셈 몫:%d/%d:%d'%(a,b,a//b))
print('나눗셈 나머지:%d/%d:%d'%(a,b,a%b))
print('나눗셈:%d/%d=%f'%(a,b,a/b))

print(f'덧셈:{a}+{b}={a+b}')
print(f'뺄셈:{a}+{b}={a-b}')
print(f'곱셈:{a}+{b}={a*b}')
print(f'나눗셈 몫:{a}/{b}:{a//b}')
print(f'나눗셈 나머지:{a}/{b}:{a%b}')
print(f'나눗셈:{a}/{b}={a/b}')

첫번째 숫자:10
두번째 숫자:2
--------------------------------------------------
덧셈:10+2=12
뺄셈:10+2=8
곱셈:10+2=20
나눗셈 몫:10/2:5
나눗셈 나머지:10/2:0
나눗셈:10/2=5.000000
덧셈:10+2=12
뺄셈:10+2=8
곱셈:10+2=20
나눗셈 몫:10/2:5
나눗셈 나머지:10/2:0
나눗셈:10/2=5.0

- f'string' 함수를 이용해 출력하기

### [실습문제] : 시간 계산 프로그램
속력과 거리를 입력 받아 시간을 계산하여 출력하는 프로그램을 만드세요!
- 시간 = 거리 / 속력

In [ ]:
v = float(input('속력를 입력해 주세요(km/h) : '))
d = float(input('거리를 입력해 주세요(km) : '))

print('-'*50)
print('속력:%d km/h'%v)
print('거리:%d km'%d)
print('시간:%f h'%(d/v))

속력를 입력해 주세요(km/h) : 100
거리를 입력해 주세요(km) : 340
--------------------------------------------------
속력:100 km/h
거리:340 km
시간:3.400000 h

In [ ]:
velocity = int( input('속력를 입력해 주세요(km/h) : '))
distance = int( input('거리를 입력해 주세요(km) : '))
print(f'속력: {velocity}km/h')
print(f'거리: {distance}km')
print(f'시간: {distance/velocity}h')

속력를 입력해 주세요(km/h) : 100
거리를 입력해 주세요(km) : 340
속력: 100km/h
거리: 340km
시간: 3.4h

- eval()함수 사용하여 문자열을 계산할 수 있다

In [ ]:
# eval()함수 사용

velocity = int( input('속력를 입력해 주세요(km/h) : '))
distance = int( input('거리를 입력해 주세요(km) : '))
time=eval(f'{distance}/{velocity}')
print(f'걸린 시간은{time}h={distance}km/{velocity}km/h')

속력를 입력해 주세요(km/h) : 100
거리를 입력해 주세요(km) : 340
걸린 시간은3.4h=340km/100km/h

### 내장 수학 함수
- 파이썬 내장 함수 https://docs.python.org/ko/3.10/library/functions.html

In [ ]:
import math
a=-3.14

print(f'원주율: {math.pi}')
print(f'절대값: {abs(a)}')
print(f'반올림: {round(a)}')
print(f'올림  : {math.ceil(a)}')
print(f'내림  : {math.floor(a)}')
print(f'제곱  : {math.pow(2,8)}')
print(f'제곱근: {math.sqrt(4) }')
print(f'로그  : {math.log(10)}')

원주율: 3.141592653589793
절대값: 3.14
반올림: -3
올림  : -3
내림  : -4
제곱  : 256.0
제곱근: 2.0
로그  : 2.302585092994046

### [실습문제]: 수학 함수 사용하여 계산하기
- 문제1: 반지름이 4인 원의 넓이 출력
- 문제2: 3.14 곱하가 2 나누기 7의 값을 반올림하여 계산 결과 출력
- 문제3: 원주율을 3.14로 만들어서 반지름이 4인 원의 둘레의 길이 출력

In [ ]:
r=4
#문제1
print(f'원의 넓이는:{3.14*r*r}m2')
#문제2
print(f'{round(3.14*2/7)}')
#문제3
print(f'원의 둘레는:{3.14*r*2}m')

원의 넓이는:50.24m2
1
원의 둘레는:25.12m

---------------------------

In [ ]:
print("%d %5d %05d"%(123,123,123))
print("{0:d} {1:5d} {2:05d}".format(123,123,123))
print(f'{123} {123:>5} {123:0>5}')

123   123 00123
123   123 00123
123   123 00123

In [ ]:
a=int(input())
print(f'정수를 입력하세요:{a}')
print(f'{a}+{11*a}+{111+a}={123*a}')

7
정수를 입력하세요:7
7+77+118=861

In [ ]:
a = input('정수를 입력하세요: ')
result = f"{a}+{a*2}+{a*3}"
print(f'{result} = {eval(result)}')

정수를 입력하세요: 7
7+77+777 = 861

## 2-2.문자와 문자열

#### 문자와 문자열 변환

In [ ]:
# 문자 --> 숫자(정수) 로 변환 : ord() 함수 사용
print( ord('A') )
print( ord('a') )
print( ord('!') )
print( ord('가') )

65
97
33
44032

In [ ]:
# 숫자(정수) --> 문자 로 변환 : chr() 함수 사용
print( chr(65) )
print( chr(66) )
print( chr(97) )
print( chr(98) )
print( chr(44032) )
print( chr(44033) )

A
B
a
b
가
각

In [ ]:
# 문자 --> 숫자 --> 이진수 로 변환
for c in '파이썬':
    숫자변환 = ord(c)              # unicode
    이진수변환 = bin(숫자변환)     # 16진수 binarycode
    print( 이진수변환, end = ' ')  # 한 줄로 표현하기

0b1101001100001100 0b1100011101110100 0b1100001101101100

In [ ]:
for c in '파이썬':
    # 이진수에서 앞'0b'를 없애기 위해 format() 함수 사용할 수 있다.
    print( format(ord(c), 'b'), end = ' ')  # 한 줄로 표현하기

1101001100001100 1100011101110100 1100001101101100

### 문자열 따옴표로 지정

#### 큰 따옴표  or 작은 따옴표로 지정한다

In [ ]:
print('Hello')
print("Hello")
print("Hello 'world")
print('Hello "world')
print(' "Yes, I can!" ')
print(' \'Yes, I can!\' ') #\로 같은 따옴표 쓸 수 있음

Hello
Hello
Hello 'world
Hello "world
 "Yes, I can!"
 'Yes, I can!'

#### 따옴표 세 개 사용 : 여러 줄로 표현할 때

In [ ]:
a = '''박씨가 소리질렀다.
도둑이야!'''
print(a)

박씨가 소리질렀다.
도둑이야!

In [ ]:
menu = '''OOO카페 메뉴판
- 아메리카노:  3000원
- 카페라테:     4000원
- 카페모카:     5000원'''
print(a)

OOO카페 메뉴판
- 아메리카노:  3000원
- 카페라테:     4000원
- 카페모카:     5000원

### [실습] 주문받아 출력하기

In [ ]:
# 주문받아 출력하기
print('주문하실 음료를 입력하세요:')
coffee=input()
print('-'*50)
print(menu)
print('-'*50)
print(f'주문하신 음료는 {coffee}입니다.')

주문하실 음료를 입력하세요:
아아
--------------------------------------------------
OOO카페 메뉴판
- 아메리카노:  3000원
- 카페라테:     4000원
- 카페모카:     5000원
--------------------------------------------------
주문하신 음료는 아아입니다.

### 문자열 연산
- (+): 문자열 연결하기

In [ ]:
print('안녕하세요'+'선생님')
print('안녕하세요','선생님')

안녕하세요선생님
안녕하세요 선생님

In [ ]:
print('7'+'7') #숫자가 아니라 문자로 반복
print('안녕'*3)

77
안녕안녕안녕

- (*) : 반복의 의미

### [실습문제] 문자열 출력하기
- 문제1: 화면에   Mary’s cosmetics   출력
- 문제2: 화면에  박씨가 소리질렀다. “도둑이야!”.  출력
- 문제3: 다음 코드 실행시켜서 \t와 \n의 역할 확인하기 <br>
print("안녕하세요.\n오늘\t날씨가\t\t좋습니다.")

In [ ]:
print("안녕하세요.\n오늘\t날씨가\t\t좋습니다.") #\n : 엔터 \t : 탭키

print('Mary’s cosmetics')
print('박씨가 소리질렀다. “도둑이야!”')

안녕하세요.
오늘	날씨가		좋습니다.
Mary’s cosmetics
박씨가 소리질렀다. “도둑이야!”

-------------------

In [ ]:
기사='''윤석열 대통령은 어제 부친 장례를 마친 뒤 대통령 전용기를 타고 1박 4일 일정의 미국 순방길에 올랐습니다.

윤 대통령은 우리 시각으로 오늘 오전 워싱턴에 도착했는데요, 참모들과 정상회의 준비 상황을 최종 점검할 계획입니다.

그리고 우리 시각으로 오늘 밤, 100km쯤 떨어진 캠프 데이비드로 이동해 조 바이든 미국 대통령, 기시다 후미오 일본 총리와 만납니다.

바이든 대통령이 전용 별장인 캠프 데이비드에 외국 정상을 초청한 건 이번이 처음입니다. 우리 대통령으로는 역대 두 번째 방문입니다.'''
print(기사.count('대통령'))
print(기사.find('대통령'))
result=기사.split(' ')
print(f'리스트의 요소 개수(길이):{len(result)}')
print(result)
기사=기사.replace('대통령', '님')
print(기사)

6
4
리스트의 요소 개수(길이):65
['윤석열', '대통령은', '어제', '부친', '장례를', '마친', '뒤', '대통령', '전용기를', '타고', '1박', '4일', '일정의', '미국', '순방길에', '올랐습니다.\n\n윤', '대통령은', '우리', '시각으로', '오늘', '오전', '워싱턴에', '도착했는데요,', '참모들과', '정상회의', '준비', '상황을', '최종', '점검할', '계획입니다.\n\n그리고', '우리', '시각으로', '오늘', '밤,', '100km쯤', '떨어진', '캠프', '데이비드로', '이동해', '조', '바이든', '미국', '대통령,', '기시다', '후미오', '일본', '총리와', '만납니다.\n\n바이든', '대통령이', '전용', '별장인', '캠프', '데이비드에', '외국', '정상을', '초청한', '건', '이번이', '처음입니다.', '우리', '대통령으로는', '역대', '두', '번째', '방문입니다.']
윤석열 님은 어제 부친 장례를 마친 뒤 님 전용기를 타고 1박 4일 일정의 미국 순방길에 올랐습니다.

윤 님은 우리 시각으로 오늘 오전 워싱턴에 도착했는데요, 참모들과 정상회의 준비 상황을 최종 점검할 계획입니다.

그리고 우리 시각으로 오늘 밤, 100km쯤 떨어진 캠프 데이비드로 이동해 조 바이든 미국 님, 기시다 후미오 일본 총리와 만납니다.

바이든 님이 전용 별장인 캠프 데이비드에 외국 정상을 초청한 건 이번이 처음입니다. 우리 님으로는 역대 두 번째 방문입니다.

In [ ]:
s=input('문자열을 입력하세요:')
print(s[::-1]) # 문자순서를 거꾸로하기

문자열을 입력하세요:안녕하세요
요세하녕안

## 2-3.문자열 인덱싱과 슬라이싱

In [ ]:
a = '우리는 민족중흥의 역사적 사명을 띠고 이 땅에 태어났다.'
print( )

In [ ]:
fruits = 'orange'
print( )

**파일명과 확장자 분리하기

In [ ]:
a=input('파일을 입력하세요:')
print(f'입력한 파일:{a}')
file=a.split('.')
print(file)
print(f'파일명:{file[0]}, 확장자:{file[1]}')
# print(f'파일명: {a[0]}, 확장자: {a[1]}')

파일을 입력하세요:test.py
입력한 파일:test.py
['test', 'py']
파일명:test, 확장자:py

---------------------------

## 2-4.변수 활용

### [실습문제]: 지불할 음식 총 가격 계산하기
- 음식가격:  4,450 원
- 세금: 6.75%
- 팁: 15%
1. meal 변수를 선언하고 값을 4450으로 지정하세요.
2. tax 변수를 생성하고 값으로 6.75%를 소수점 형태로 지정하세요.
3. tip 변수를 생성하고 값으로 15%를 소수점 형태로 지정하세요.
4. meal의 변수값에 세금을 곱해 meal 변수에 지정하세요.
5. 음식값에 tip을 더해 total 변수에 지정하세요.
6. total 변수 값을 출력하세요.

In [ ]:
meal = 4450    # 1.음식가격
tax = 0.0675   # 2.세금
tip = 0.15     # 3.팁

meal_price = meal+(meal*tax)
total = meal_price + (meal_price*tip)
print(round(total,2))

총 가격은 5417.874999999999입니다.
5462.93

In [ ]:
meal = 4450    # 1.음식가격
tax = 0.0675   # 2.세금
tip = 0.15     # 3.팁
print(f'순수 세금: {meal*tax}')
meal = meal + (meal * tax)   # 4. 음식가격
total = meal + (meal * tip)  # 5. 팁 적용한 총 금액
print(f'팀 금액: {meal * tip}')
print(f'내가 지불해야 할 총 금액: {round(total,2)}')

순수 세금: 300.375
팀 금액: 712.55625
내가 지불해야 할 총 금액: 5462.93

### [실습문제]: 섭씨온도를 화씨온도로 변환하기
- 섭씨 온도 (Celsius): 1 atm에서의 물의 어는점을 0도, 끓는점을 100도로 정한 온도 체계. (°C)


- 화씨 온도 (Fahrenheit): 물이 어는 온도는 32도, 물이 끓는 온도는 212도. 180등분. (°F)
- 섭씨온도(℃) = (5 / 9) × (℉ - 32)  # Celsius
- 화씨온도(℉) = (9 / 5) × ℃ + 32    # Fahrenheit

In [ ]:
# c_temp = input()   #키보드로부터 입력을 받는 함수: input()
# c_temp = int(c_temp)  # 정수로 변환: int()
# print(c_temp, type(c_temp) )
c_temp = input()   #키보드로부터 입력을 받는 함수: input()
c_temp = int(c_temp)  # 정수로 변환: int()
print(c_temp, type(c_temp) )
f_temp=(9 / 5) * c_temp + 32
print(f'화씨온도(℃) = (5 / 9) × ({c_temp} + 32)')
print(f_temp)

40
40 <class 'int'>
화씨온도(℃) = (5 / 9) × (40 + 32)
104.0

-------

## 2-5.연산자

### [실습문제]: 동전 교환 프로그램 만들기

In [ ]:
# 키보드로부터 금액 입력 받기
print('---동전교환기 프로그램을 작동합니다.---')
money = int( input('금액을 입력하세요: '))
print('동전으로 교환하겠습니다.---------')

# 1.키보드로 동전 교환 금액 입력 받기
money = int(input("동전으로 교환할 금액을 입력하세요: "))
print('-'*30) # 2.구분선 출력하기
print(f"500원짜리 ==> { money // 500 }개") # 3.500원 짜리 동전 개수 출력
money = money % 500
print(f"100원짜리 ==> { money // 100 }개") # 4.100원 짜리 동전 개수 출력
money %= 100
print(f"50원짜리 ==> { money // 50 }개") # 5.50원 짜리 동전 개수 출력
money %= 50
print(f"10원짜리 ==> { money // 10 }개") # 6.10원 짜리 동전 개수 출력
money %= 10
print(f"잔돈 ==> {money}원") # 7.잔돈 출력

money = int(input("동전으로 교환할 금액을 입력하세요: "))
print('-'*30)
print(f"500원짜리 ==> { money // 500 }개")
money %= 500
print(f"100원짜리 ==> { money // 100 }개")
money %= 100
print(f"50원짜리 ==> { money // 50 }개")
money %= 50
print(f"10원짜리 ==> { money // 10 }개")
print(f"잔돈 ==> {money%10}원")

---동전교환기 프로그램을 작동합니다.---
금액을 입력하세요: 4321
동전으로 교환하겠습니다.---------
동전으로 교환할 금액을 입력하세요: 4321
------------------------------
500원짜리 ==> 8개
100원짜리 ==> 3개
50원짜리 ==> 0개
10원짜리 ==> 2개
잔돈 ==> 1원
동전으로 교환할 금액을 입력하세요: 4321
------------------------------
500원짜리 ==> 8개
100원짜리 ==> 3개
50원짜리 ==> 0개
10원짜리 ==> 2개
잔돈 ==> 1원

-----------------------------------------

## 2-6.리스트(List)
- 리스트는 여러 개의 데이터 값을 하나의 변수에 담을 수 있는 데이터 구조
- 리스트는 순서(인덱스)가 있고 데이터를 수정, 삭제, 추가 가능하다.
- 대괄호로 표현되고 내부 원소는 ,(쉼표)로 구분됨

### 리스트 생성

In [ ]:
a = list()
a = []
a = [1,2,3]
a = ['I', 'Love', 'Python']
b = [1,2, '사랑해요', 'Python']
b = ['a', '1', 1, [2,3], -4]
a = [1,2,['a','b',['사랑해', '파이썬']], 3]

In [ ]:
print(a)
print(b)

In [ ]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
a='python'
print(list(a))

['p', 'y', 't', 'h', 'o', 'n']

### 리스트 삭제

In [ ]:
del(b) #b 리스트 전체 삭제

print(a)
print(b)

### 리스트 요소에 접근

In [ ]:
colors=['빨','주',['노','초'],'파','남','보']
print( colors[1] )
print( colors[2] )
print( colors[2][1]) #리스트 안 리스트 2차원 리스트

주
['노', '초']
초

In [ ]:
colors = ['red', 'green', ['blue', 'deepblue'], 'black', 'white']
print(colors)
colors.append('핑크')     # 리스트 맨 끝에 추가
print(colors)
colors.insert(1, '연두')  # 리스트명.insert(인덱스위치, 값)
print(colors)
colors[3].insert(1,'darkblue') # 2차원 리스트에 'darkblue' 넣기
print(colors)
colors.append(['r','g','b'])
print(colors)# 리스트 하나 더 추가로 3차원 리스트가 됌

['red', 'green', ['blue', 'deepblue'], 'black', 'white']
['red', 'green', ['blue', 'deepblue'], 'black', 'white', '핑크']
['red', '연두', 'green', ['blue', 'deepblue'], 'black', 'white', '핑크']
['red', '연두', 'green', ['blue', 'darkblue', 'deepblue'], 'black', 'white', '핑크']
['red', '연두', 'green', ['blue', 'darkblue', 'deepblue'], 'black', 'white', '핑크', ['r', 'g', 'b']]

### 리스트 요소 추가 / 변경

In [ ]:
print(a)
a.append('봄')     # 리스트 맨 끝에 추가
print(a)
a.insert(1, '봄')  # 리스트명.insert(인덱스위치, 값)
print(a)

In [ ]:
colors[1]='light green' # 요소 변경하기
print(colors)
colors[3][1]='light blue'
print(colors)
colors[3:]='yellow'
print(colors)
colors.pop() # 제일 끝 요소 삭제
print(colors)
colors.remove('l')  # 특정 값 제
print(colors)
del colors[3:] # 3부터 마지막까지 삭제
print(colors)

['red', 'light green', 'green', ['blue', 'darkblue', 'deepblue'], 'black', 'white', '핑크', ['r', 'g', 'b']]
['red', 'light green', 'green', ['blue', 'light blue', 'deepblue'], 'black', 'white', '핑크', ['r', 'g', 'b']]
['red', 'light green', 'green', 'y', 'e', 'l', 'l', 'o', 'w']
['red', 'light green', 'green', 'y', 'e', 'l', 'l', 'o']
['red', 'light green', 'green', 'y', 'e', 'l', 'o']
['red', 'light green', 'green']

### 리스트 요소 삭제

In [ ]:
print(a)
a.pop()     # 리스트 맨 끝 요소 삭제
print(a)
a.remove('봄')  # 리스트명.remove(값), 단 여러 개 일 경우 첫 번째만 삭제됨
print(a)

In [25]:
import random
numbers=list()
numbers=[]
numbers.append(random.randint(1,100))
numbers.append(random.randint(1,100))
numbers.append(random.randint(1,100))
print(numbers)

numbers.sort()
print(numbers)
numbers.reverse()
print(f'정렬 후:{numbers}')

[83, 73, 93]
[73, 83, 93]
정렬 후:[93, 83, 73]

In [22]:
import random

numbers = list()   # 빈 리스트
numbers = []       # 빈 리스트

# 1~100까지 정수 중에 임의로 하나 뽑아서 리스트에 추가하기
numbers.append(random.randint(1, 100))
numbers.append(random.randint(1, 100))
numbers.append(random.randint(1, 100))
numbers.append(random.randint(1, 100))
numbers.append(random.randint(1, 100))
print(f'정렬 전: {numbers}')

# 정렬하기
numbers.sort()
numbers.reverse()
print(f'졍렬 후: {numbers}')

정렬 전: [71, 100, 58, 29, 43]
졍렬 후: [100, 71, 58, 43, 29]

## 2-7.딕셔너리(Dictionary)
- 딕셔너리는 쌍이 하나로 묶인 자료구조
- 인덱스를 의미하는 ‘키(key)'와 자료의 내용인 ‘ 값(value)'을 이용하여  데이터를 관리
- 중괄호 { }로 묶어 구성, 키(Key)와 값(Value)의 쌍으로 구성
- 순서(sequence)가 없다

### 딕셔너리 생성

In [31]:
members={} # 빈 딕셔너리
members=dict() # 빈 딕셔너리
print(type(members), members)

members = {'name':'진', 'age':29, 'email':'jin@gggmail.com'}
print(type(members), members)
print(members['age']) # 키 값에 해당하는 값이 나온다
print(members.get('age'))

members[7]=['1','2','3'] # 7이라는 키와 1,2,3 값 추가(순서는 무작위)
print(members) # 딕셔너리는 순서가 없음

<class 'dict'> {}
<class 'dict'> {'name': '진', 'age': 29, 'email': 'jin@gggmail.com'}
29
29
{'name': '진', 'age': 29, 'email': 'jin@gggmail.com', 7: ['1', '2', '3']}

### 딕셔너리 키(key)와 값(value)에 접근하기

In [34]:
scores = {'국어': 100, '수학': 90, '영어': 80}

print(scores['국어'])  # 딕셔너리는 키로 접근한다.

# 방법1
print('---방법1---')
for key in scores:
    print('%s => %s' % (key, scores[key]))
    print(f'{key}=>{scores[key]}')
print(scores.items()) # dict_items([('국어', 100), ('수학', 90), ('영어', 80)]) : (키,값)의 리스트 형태로 반환

# 방법2
print('---방법2---')
for key, value in scores.items():
    print('%s => %s' % (key, value))
    print(f'{key}=>{value}')

100
---방법1---
국어 => 100
국어=>100
수학 => 90
수학=>90
영어 => 80
영어=>80
dict_items([('국어', 100), ('수학', 90), ('영어', 80)])
---방법2---
국어 => 100
국어=>100
수학 => 90
수학=>90
영어 => 80
영어=>80

In [35]:
print(scores.keys())   # 키만 추출 리스트 형태로 반환
print(scores.values()) # 키만 추출 리스트 형태로 반환
print(scores.items())  # (키,값)쌍 형태로 추출 리스트 형태로 반환

dict_keys(['국어', '수학', '영어'])
dict_values([100, 90, 80])
dict_items([('국어', 100), ('수학', 90), ('영어', 80)])

### 딕셔너리에 요소 추가/수정/삭제

In [40]:
scores = {'국어': 100, '수학': 90, '영어': 80}
print(scores)

# 키로 요소 추가하기
scores['music'] = 100
print(scores)

# 요소 값 수정하기
scores['수학'] = 99
print(scores)

# 요소 삭제하기
del (scores['영어'], scores['music']) # 괄호 안에서 여러가지 키 한꺼번에 삭제 가능
print(scores)

{'국어': 100, '수학': 90, '영어': 80}
{'국어': 100, '수학': 90, '영어': 80, 'music': 100}
{'국어': 100, '수학': 99, '영어': 80, 'music': 100}
{'국어': 100, '수학': 99}

In [51]:
# 튜플
a=tuple()
a=()
print(type(a))

a=(1,) # a=('사과',)
print(type(a),a) # 튜플에 요소 1개를 정의할 때는 반드시 ',' 사용

a=(1,2,3,4,5,6)
print(a[3])

## a[3]=10 # 튜플의 요소를 변경하거나 추가를 할 수 없다.


# 집합 생성
a=set() # 빈집합
print(type(a))
a={1,2,3,4,5} # 딕셔너리처럼 ':' 없음
print(type(a))

a=set([1,2,3,4,5])
b=set("hello")
print(type(b),b)

fruits=['a','b','c','c','c'] # 집합에서는 중복된 데이터를 배제시킬 수 있다.
h=list(set(fruits))
h.sort() # 튜플에는 sort가 없어 사용못함
print(h)

<class 'tuple'>
<class 'tuple'> (1,)
4
<class 'set'>
<class 'set'>
<class 'set'> {'h', 'e', 'o', 'l'}
['a', 'b', 'c']

In [53]:
fruits=['a','b','c','c','c'] # 집합에서는 중복된 데이터를 배제시킬 수 있다.
h=tuple(set(fruits)) # 튜플에는 sort가 없어 사용못함
print(h)

('b', 'a', 'c')

In [55]:
help(list) # help(궁금한 함수)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

------------------------

끝